<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
  </head>
  <body>
    <div class="ui container" style="padding: 1em 0">
      <h1>Error</h1>
      <pre><%= error %></pre>
      <% if(process.env.BYPASS) { %>
      <pre><%= stack %></pre>
      <% } %>
    </div>
  </body>
</html>
