<h1>Claimed Invites</h1>

<%
  function doIpsMatch(peer, claimed) {
    if (!peer) { return false; }
    if (!claimed) { return false; }
    if (!peer.allowedIPs.length) { return false; }

    return peer.allowedIPs.includes(claimed.Interface.Address);
  }

  function getEndpointString(peer) {
    if (!peer) { return; }
    if (!peer.endpoint) { return; }

    const [ip] = peer.endpoint.split(':');
    const asn = asns[ip];

    return `${ip}<br />${ asn ? asn.description : 'Unknown' }`;

  }
%>

<table class="ui table">
  <thead>
    <tr>
      <th>Invite For</th>
      <th>Client IP</th>
      <th>Requested By</th>
      <th>Last Seen</th>
      <th>Sent</th>
      <th>Received</th>
      <th>Connected From</th>
      <th></th>
    </tr>
    <tbody>
    <% Object.entries(data).map(([publicKey, {peer, claimed}])=> { %>
      <tr>
        <td><%= claimed && claimed.InviteFor || "Unknown" %></td>
        <td class="<%= doIpsMatch(peer, claimed) ? '' : 'negative' %>">
          <% if(doIpsMatch(peer, claimed)) { %>
            <%= claimed.Interface.Address %>
          <% } else { %>
            <% if(peer) { %>
              Peer: <%= peer.allowedIPs.join(', ') || "Unknown" %><br/>
            <% } %>
            <% if(claimed) { %>
              Claimed: <%= claimed.Interface.Address || "Unknown" %>
            <% } %>
          <% } %>
        </td>
        <td>
          <% if (claimed) { %>
              <%= requesterMap[claimed.RequestedBy]
                  || `Unknown ${claimed.RequestedBy ? `(${claimed.RequestedBy})` : ''}` %>
          <% } %>
        </td>
        <td>
          <% if (peer && peer.lastHandshake) { %>
            <%= formatDistance(peer.lastHandshake, new Date(), { addSuffix: true }) %>
          <% } else { %>
            Never
          <% } %>
        </td>
        <td><%= peer && prettySize(peer.rxBytes) %></td>
        <td><%= peer && prettySize(peer.txBytes) %></td>
        <td>
          <%- getEndpointString(peer) %>
        </td>
        <td>
          <% if(claimed && claimed.InviteCode) { %>
            <form action="<%= urlWithPrefix() %>" method="POST">
              <input type="hidden" name="_csrf" value="<%= locals._csrf %>" />
              <input type="hidden" name="invite_code" value="<%= claimed.InviteCode %>" />
              <button class="ui button green" type="submit">View Invite</button>
            </form>
          <% } %>
          <% if(!peer) { %>
            <form action="<%= urlWithPrefix('restore_peer') %>" method="POST">
              <input type="hidden" name="_csrf" value="<%= locals._csrf %>" />
              <input type="hidden" name="invite_code" value="<%= claimed.InviteCode %>" />
              <button class="ui button green" type="submit">Restore Peer</button>
            </form>
          <% } %>
          <% if (claimed && (claimed.RequestedBy === ip || ip == SystemIp)) { %>
            <form action="<%= urlWithPrefix('remove_peer') %>" method="POST">
              <input type="hidden" name="_csrf" value="<%= locals._csrf %>" />
              <input type="hidden" name="invite_code" value="<%= claimed.InviteCode %>" />
              <button type="submit" class="ui red button">Remove</button>
            </form>
          <% } %>
        </td>
      </tr>
    <% }) %>
    </tbody>
  </thead>
</table>
