<form class="ui form" method="post">
  <input type="hidden" name="_csrf" value="<%= locals._csrf %>">

  <div class="field">
    <label for="invite_code">Invite For</label>
    <input type="text" id="invite_for" name="invite_for">
  </div>
  <button class="ui button" type="submit">Request Invite</button>
</form>

<% if(locals.invites.length) { %>
  <table class="ui table">
    <thead>
      <tr>
        <th>Invite For</th>
        <th>Requested By</th>
        <th>Requested At</th>
        <th>Invite Code</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% locals.invites.forEach(invite => {%>
        <tr>
          <td><%= invite.invite_for %></td>
          <td><%= invite.requested_by %></td>
          <td><%= formatDistance(new Date(invite.timestamp), new Date(), { addSuffix: true }) %></td>
          <td><code><%= invite.invite_code %></code></td>
          <td>
            <% if(invite.requested_by === ip) { %>
            <form method="post" action="<%= urlWithPrefix('remove_request') %>">
              <input type="hidden" name="_csrf" value="<%= locals._csrf %>" />
              <input type="hidden" name="code" value="<%= invite.invite_code %>" />
              <button class="ui red button" type="submit">Delete</button>
            </form>
            <% } %>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } else { %>
  <h3>No pending Invites</h3>
<% } %>
<a class="ui button" href="/wg">Back</a>
