<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WireGuard Provision</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
  <% if(locals.prefix) { %><base href="<%= prefix %>" /><% } %>
</head>
<body>
  <div class="ui container" style="padding: 1em 0">
    <div class="ui menu">
      <a class="item" href="">Claim Invite</a>
      <% if(locals.admin) { %>
        <a class="item" href="invites">Request Invite</a>
        <a class="item" href="claimed">Claimed Invites</a>
      <% } %>
    </div>
    <%- body -%>
    <% if(locals.bypass) { %><h6>BYPASS MODE ON</h6><% } %>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>
</body>
</html>
